.componentAboutMe {
    height: 100%;
    width: 100%;
    display: flex;
}

.componentAboutMe.aboutMe-component {
    position: relative;
    top: 5%;
}

h1 {
    margin: 3%;
    text-align: center;
}

/* Mobile Styles */
@media(max-width: 767px) {
    .component.second-component {
        position: relative;
        top: 2% !important;
    }

    .contentAboutMe{
        font-size: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .leftContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 70vh;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 0.5%;
    }
    
    .rightContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 20vh;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 0.5%;
    }
    
    .introAboutMe{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 30vh;
        overflow-y: scroll;
    }
    
    .ContactDetails{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        margin-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 30vh;
        overflow: scroll;
    }
    
    .EducationDetails{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        margin-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 30vh;
        overflow: scroll;
    }
    
    .bestSkills{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        margin-top: 2%;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 40vh;
        overflow: scroll;
    }
  }
  
  /* Tablet Styles */
  @media (min-width: 768px) and (max-width: 992px) {
    .contentAboutMe{
        font-size: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .leftContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 93vh;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 0.5%;
    }
    
    .rightContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 0.5%;
    }
    
    .introAboutMe{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 27vh;
        overflow: scroll;
    }
    
    .ContactDetails{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        margin-top: 0% !important;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 27vh;
        overflow: scroll;
    }
    
    .EducationDetails{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        margin-top: 0% !important;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 27vh;
        overflow: scroll;
    }
    
    .bestSkills{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin: auto;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 87vh;
        overflow: scroll;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 993px) {
    .contentAboutMe{
        font-size: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .leftContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50vh;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 0.5%;
    }
    
    .rightContentAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 0.5%;
    }
    
    .introAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 30vh;
    }
    
    .ContactDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 30vh;
    }
    
    .EducationDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 27vh;
    }
    
    .bestSkills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 96%;
        padding: 2%;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        height: 87vh;
    }
  }