.component {
    height: 100%;
    width: 100%;
    display: flex;
}

.referenceInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h1 {
    margin: auto;
    text-align: center;
}

/* Mobile Styles */
@media (max-width: 767px) {
    .component.fourth-component {
        position: relative;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        width: 100%; 
        height: 90vh;
    }
    
    .contentMyReferences{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 90%;
        margin: auto;
        margin-top: 5% !important;
        padding: 5%;
        height: 70vh;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
        overflow: scroll;
    }
  }
  
  /* Tablet Styles */
  @media (min-width: 768px) and (max-width: 992px) {
    .component.fourth-component {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        max-height: 100vh;
    }
    
    .contentMyReferences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 60%;
        margin: auto;
        padding: 5%;
        height: 80vh;
        text-align: center !important;
        border: 1px black solid;
        border-radius: 5px;
        overflow: scroll;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 993px) {
    .component.fourth-component {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%; 
        max-height: 100vh;
    }
    
    .contentMyReferences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 40%;
        margin-left: 2%;
        padding: 1%;
        height: 80vh;
        text-align: center;
        border: 1px black solid;
        border-radius: 5px;
    }

    .contentMyReferences h1{
        margin-top: 0 !important;
        padding: 0 !important;
    }

    .referenceInfo h2{
        padding: 1% !important;
        /* margin: 0!important; */
    }

  }