html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin: 20px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.nav-section{
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-section > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.navContainer{
  width: 100%;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .btnCont{
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .navItemDesign{
    margin: auto;
    padding: 0 !important;
    text-align: center;
    width: 50%;
  }
  
  .navLinkDesign{
    background: transparent !important;
    color: white !important;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 992px) {
  .navItemDesign{
    margin: auto;
    padding: 0 !important;
    text-align: center;
    width: 16%;
  }
  
  .navLinkDesign{
    background: transparent !important;
    color: white !important;
  }
}

/* Desktop Styles */
@media (min-width: 993px) {
  .navItemDesign{
    width: 10%;
  }
  
  .navLinkDesign{
    background: transparent !important;
    color: white !important;
  }
}