.navbar{
    overflow: hidden;
    background-color: #2780E3;
    position: fixed;
    top: 0;
    width: 100%;
}

html, body {
    height: 100%;
  }

body{
    background-image: url('Images/background.jpg');
    background-attachment: fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #2780E3;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 1rem;
    margin-top: 1rem;
}

.infoTable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 0;
}

.infoTable-cell{
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 1px white;
    background: fade(slategrey,20%);
}

.infoTable--2cols > .infoTable-cell  { width: 50%; }
.infoTable--3cols > .infoTable-cell  { width: 33.33%; }
.infoTable--4cols > .infoTable-cell  { width: 25%; }
.infoTable--5cols > .infoTable-cell  { width: 20%; }
.infoTable--6cols > .infoTable-cell  { width: 16.6%; }

.info{
    display: flex;
    justify-content: c;
    align-items: center;
    flex-direction: column;
    border: 1px solid #2780E3;
    border-radius: 30px;
    color: #2780E3;
    background-color: white;
    text-align: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.infoRef{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #2780E3;
    border-radius: 30px;
    color: #2780E3;
    background-color: white;
    text-align: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#refHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.referenceInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

#confirmation{
    color: #2780E3;
}

#Title{
    color: #2780E3;
}

.PastAndCurrent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contactMeForm{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.responisveStyle{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/*------------------------------------------------------------*/

@media(max-width:767px){

    .info{
        width: 90%;
    }

    .infoTable{
        flex-direction: column;
        width: 100%;
    }

    .infoTable--2cols > .infoTable-cell  { width: 100%; }

    .responisveStyle{
        margin: 2%;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .MobileAccess{
        width: 100%;
        margin-bottom: 2%;
    }

}

/*------------------------------------------------------------*/

@media(max-width:768px){

    .info{
        width: 95%;
    }

    .infoTable{
        flex-direction: column;
        width: 100%;
    }

    .infoTable--2cols > .infoTable-cell  { width: 100%; }

    .responisveStyle{
        margin: 2%;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .MobileAccess{
        width: 100%;
        margin-bottom: 2%;
    }

}

/*------------------------------------------------------------*/

@media(max-width:992px){

    .info{
        width: 95%;
    }

    .infoTable{
        flex-direction: column;
        width: 100%;
    }

    .infoTable--2cols > .infoTable-cell  { width: 100%; }

    .responisveStyle{
        margin: 2%;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .MobileAccess{
        width: 100%;
        margin-bottom: 2%;
    }

}

/*------------------------------------------------------------*/

@media(min-width:1200px){

    /* #intro{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    #introAboutMe{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    #introJobHistory{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    #infoReferences{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    #introCurrent{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    #introPast{
        position: relative;
        top: 10%;
        left: 25%;
        width: 50%;
    }

    #infoContactMe{
        position: relative;
        top: 35%;
        left: 25%;
        width: 50%;
    } */

}